{% load staticfiles %}
<!DOCTYPE html>
<head>
<link rel="stylesheet" href="{% static 'montecarlo/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'montecarlo/custom.min.css' %}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Black Sholes  Options{% endblock %}</title>

</head>

<body>


{% block header %}
<div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Monte Carlo</h1>
            <p class="lead"> Monte Carlo Quant</p>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="sponsor">
              <img src="{% static 'montecarlo/images/logo.png' %}" width="150" height="150" class="center" align="middle">

            </div>
          </div>
        </div>
      </div>

  <div class="bs-docs-section clearfix">
     <div class="bs-component">
              <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#">Monte Carlo Quant</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                 <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/montecarlo/main">Home <span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                </div>
              </nav>

    </div>
  </div>

{% endblock %}

{% block content %}

<div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="forms">Black Sholes Options</h1>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="bs-component">
              <form action="/montecarlo/black_sholes_montecarlo/" method="POST">
                {% csrf_token %}
                <fieldset>
                  <div class="form-group">
                    <label for="underlying_price">Underlying Price</label>
                    <input type="number" step=0.01 class="form-control" id="underlying_price" name="underlying_price" aria-describedby="underlying_priceHelp" placeholder="Underlying Price">            <small id="underlying_priceHelp" class="form-text text-muted">{{ error_underlying_price }}</small>
                  </div>

                  <div class="form-group">
                    <label for="n_simulations">Number of Simulation</label>
                    <input type="number" step=0.01 class="form-control" id="n_simulations" name="n_simulations" aria-describedby="n_simulationHelp" placeholder="Number of Simulation">
                    <small id="n_simulationHelp" class="form-text text-muted">{{ error_n_simulation }}</small>
                  </div>

                  <div class="form-group">
                    <label for="volume">Volume</label>
                    <input type="number" step=0.01 class="form-control" id="volume" name="volume" aria-describedby="volumeHelp" placeholder="volume">
                    <small id="volumeHelp" class="form-text text-muted">{{ error_volume }}</small>
                  </div>

                  <div class="form-group">
                    <label for="rate">Rate</label>
                    <input type="number" step=0.01 class="form-control" id="rate" name="rate" aria-describedby="rateHelp" placeholder="Rate">
                    <small id="rateHelp" class="form-text text-muted">{{ error_rate }}</small>
                  </div>

                  <div class="form-group">
                    <label for="K">K</label>
                    <input type="number" step=0.01 class="form-control" id="K" name="K" aria-describedby="KHelp" placeholder="K">
                    <small id="KHelp" class="form-text text-muted">{{ error_K }}</small>
                  </div>

                  <button type="submit" class="btn btn-primary">Submit</button>
              </fieldset>
            </form>
           </div>
         </div>
       </div>
</div>

 {% endblock %}
 </div>
 </body>
 </html>
